In [1]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,31,33,36,38],
    'windspeed': [6,7,2,4,6,7],
    'events': ['Rain','Sunny','Snow','Rain','Sunny','Snow'] 
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed events
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           31          2   Snow
3  1/4/2017           33          4   Rain
4  1/5/2017           36          6  Sunny
5  1/6/2017           38          7   Snow

In [2]:
df.shape

(6, 4)

In [3]:
df[2:5]

        day  temperature  windspeed events
2  1/3/2017           31          2   Snow
3  1/4/2017           33          4   Rain
4  1/5/2017           36          6  Sunny

In [4]:
df.columns

Index(['day', 'temperature', 'windspeed', 'events'], dtype='object')

In [5]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [6]:
type(df['events'])

pandas.core.series.Series

In [7]:
df[['events','day','temperature']]

  events       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           31
3   Rain  1/4/2017           33
4  Sunny  1/5/2017           36
5   Snow  1/6/2017           38

In [8]:
df['temperature'].max()

38

In [9]:
df['temperature'].mean()

34.166666666666664

In [10]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     34.166667   5.333333
std       2.639444   1.966384
min      31.000000   2.000000
25%      32.250000   4.500000
50%      34.000000   6.000000
75%      35.750000   6.750000
max      38.000000   7.000000

In [17]:
df[['day','temperature'][df['temperature']>=36]]

TypeError: list indices must be integers or slices, not Series

In [18]:
df

        day  temperature  windspeed events
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           31          2   Snow
3  1/4/2017           33          4   Rain
4  1/5/2017           36          6  Sunny
5  1/6/2017           38          7   Snow

In [19]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
df.set_index('day',inplace= True)

In [23]:
df

          temperature  windspeed events
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           31          2   Snow
1/4/2017           33          4   Rain
1/5/2017           36          6  Sunny
1/6/2017           38          7   Snow

In [24]:
df.loc['1/2/2017']

temperature       35
windspeed          7
events         Sunny
Name: 1/2/2017, dtype: object

In [25]:
df.reset_index(inplace=True)

In [26]:
df

        day  temperature  windspeed events
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           31          2   Snow
3  1/4/2017           33          4   Rain
4  1/5/2017           36          6  Sunny
5  1/6/2017           38          7   Snow

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   events       6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes